/*
 QUIZ WEBSITE LAYOUT ELEMENTS
 */

html,body {
	height: 100% !important;
	margin: 0;
	background-color: #fff; 
    color: #333;
    font-family: "Birdseye", sans-serif;
    font-size: 16px;
    line-height: 1.42857;
	overflow-x: auto;
	max-width: 100%;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	box-sizing:border-box;
}


.quiz-section {
	padding: 50px 0;
	text-align: center;
	height: 100%;
}

.quiz-section .container {
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
}


@media ( max-width: 991px ) {
	.quiz-section.quiz-fullscreen {
		height: auto;
	}
	.quiz-start-link {
		display: none;
	}
}

.quizintrobox {
    /*background-color: rgba(0, 0, 0, 0.4); */
    margin-top: 30px;
    padding: 11.5px 17px;
	max-width: 650px;
  /*opacity: 0.9;*/
}

.footer-section {
	padding-bottom: 30px;
	text-align: center;
}

 img {
    max-width: 100%;
    height: auto;
}

/*
 QUIZ WEBSITE CONTENT ELEMENTS
 */
 
 .p {
    margin: 0 auto 20px;
	width: 600px;
	text-align: middle;
}

 .h1, .h2, .h3, .h4, .h5, .h6{
	color: #222;
	margin-bottom: 10px;
	line-height: 1.0;
}
 
.section-heading {
	position: relative;
	padding-bottom: 15px;
	margin: -20px 0 10px;
	font-family: "Birdseye", sans-serif;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
}

.section-heading:after {
	content: "";
	position: relative;
	left: 0;
	bottom: 0;
	display: block;
	height: 2px;
	width: 100px;
	background-color: rgba(0,0,0,0.1);
	left: 50%;
	right: 50%;
	text-align: center;
	margin-left: -50px;
    margin-top: 25px;
}

/* Button */
.button_header {
	border:1px solid #720216; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 3px;
    font-size:16px;
    font-family:"Birdseye", sans-serif; 
    padding: 18px 18px 18px 18px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #A90321; background-image: -webkit-gradient(linear, left top, left bottom, from(#A90321), to(#6D0019));
    background-image: -webkit-linear-gradient(top, #A90321, #6D0019);
    background-image: -moz-linear-gradient(top, #A90321, #6D0019);
    background-image: -ms-linear-gradient(top, #A90321, #6D0019);
    background-image: -o-linear-gradient(top, #A90321, #6D0019);
    background-image: linear-gradient(to bottom, #A90321, #6D0019);
    cursor: pointer;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A90321, endColorstr=#6D0019);
}

.button_header:hover{
	 border:1px solid #45010d;
	 background-color: #770217; background-image: -webkit-gradient(linear, left top, left bottom, from(#770217), to(#3a000d));
	 background-image: -webkit-linear-gradient(top, #770217, #3a000d);
	 background-image: -moz-linear-gradient(top, #770217, #3a000d);
	 background-image: -ms-linear-gradient(top, #770217, #3a000d);
	 background-image: -o-linear-gradient(top, #770217, #3a000d);
	 background-image: linear-gradient(to bottom, #770217, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#770217, endColorstr=#3a000d);
}

.button {
	padding: 9px 14px;
	border-radius: 0;
	font-family: "Birdseye", sans-serif;
	font-size: 14px;
	line-height: 1.819;
	letter-spacing: 0.05em;
	text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/* footer */ 

.list-inline {
    list-style: outside none;
    margin-left: -5px;
    padding-left: 0;
    list-style-position: left;
}

ul {
    list-style-position: outside;
    display: inline-block;
    text-align:left;
}

.questions {
    background-color: #f6f6f6;
    margin: 15px 0;
    padding: 30px;
    text-align: center;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}

.invisible {
	display: none;
}
	
a, u {
    text-decoration: none;
}

a { color: inherit; } 

#lore_brief {
max-width: 1170px;
center: middle;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

#results_screen { 
max-width: 1170px;
center: middle;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

/*hover */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#non-greencard-status{
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
}

input {
    cursor: pointer;
    margin-top: 10px;
}

a {
    color: rgb(50,0,400);
}